* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
body {
    min-height: 200vh;
    background: url("../img/pexels-photo-1287142.webp") no-repeat;
    background-size: cover;
    background-position: center;
}
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 32px;
    color: rgb(134, 188, 223);
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: rgb(134, 188, 223);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px; 
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
}