* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
body {
    min-height: 200vh;
    background: url("../img/pexels-photo-1287142.webp") no-repeat;
    background-size: cover;
    background-position: center;
}
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 32px;
    color: rgb(134, 188, 223);
    text-decoration: none;
    font-weight: 700;
}

.navbar {
    font-size: 32px;
    color: rgb(134, 188, 223);
    text-decoration: none;
    font-weight: 700;
}
a {
   position: relative;
   display: inline-block;
   overflow: hidden;
 }
 
 a::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   height: 4px;
   width: 100%;
   background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
   background-size: 200% auto;
   transition: all .5s;
   transform: translateX(-100%);
 }
 
 a:hover::after {
   transform: translateX(0%);
   animation: gradient-89 3s linear infinite;
 }
 
 @keyframes gradient-89 {
   0% { background-position: 100% 0%; }
   50% { background-position: 0% 0%; }
   100% { background-position: 100% 0%; }
 }